<!DOCTYPE html>
<html>
<head>
	<title>${TITLE}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
	<style>@-ms-viewport { width: device-width; }</style>
	<link rel="stylesheet" href="avansel_assets/style.css"/>
</head>
<body>
	
	<div id="pano"></div>

	<script type="text/javascript">
		/*
		For more information on the settings, visit:
		https://avansel.github.io/documentation/
		*/
		const panorama = {
			prefix: "./",
			domid: "pano",
			tiles: [
				{tileSize: 512, size: 512, fallback: true},
