<!DOCTYPE html>
<html>
<head>
	<title>${TITLE}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
	<style>@-ms-viewport { width: device-width; }</style>
	<link rel="stylesheet" href="marzipano_assets/reset.css">
	<link rel="stylesheet" href="marzipano_assets/style.css">
</head>
<body>

	<div id="pano"></div>

	<script type="text/javascript">
		/*
		For more information on the settings, visit:
		https://www.marzipano.net/docs.html
		*/
		var panorama = {
			prefix: "./",
			domid: "pano",
			tiles:[
				{tileSize: 256, size: 256, fallbackOnly: true},
