			],
			// attribution:{
			// 	first: 'Panorama by',
			// 	second: 'Your name',
			// 	url: 'https://www.example.com',
			// 	position: 'bottomleft'
			// }
		}
	</script>
	<script src="marzipano_assets/marzipano.js" ></script>
	<script src="marzipano_assets/main.js"></script>

</body>
</html>
